.Flow-full {
  margin: 0;
  color: white;
  background-color: #282c34;
  padding: 0%;
  font-size: 200%;
  box-shadow: 10px 10px 15px #333;
  text-align: center;
  display: flex;
  padding: 10px;
}

.Flow-graph {
  width: 1000px;
  height: 700px;
  border: 5px white solid;
  display: flex;
  margin: auto;
  position: relative;
  display: inline-block;
}

.Flow-controls {
  line-height: 200%;
  border: white solid;
  white-space: nowrap;
  display: flex;
}
.Flow-controls button {
  background-color: orangered;
  font-weight: bolder;
  color: white;
}

/* .Flow-controls input:submit {
  size: 40px;
} */

/* .Flow-controlsID p {
  font-size: 200%;
} */

p {
  font-size: larger;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.item {
  /* flex: 0 1 auto;
  margin: 10px; */
  /* padding: 1px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  white-space: nowrap;
  /* background-color: #4b4b4b; */
}

.trans {
  white-space: nowrap;
}
